    <section class="page-banner{{#if page.banner.image}} page-banner--photo{{/if}}">
      <div class="container page-banner__inner">
        <div class="page-banner__text">
          <p class="crumbs"><a href="index.html">Home</a> / {{ page.banner.crumb }}</p>
          <h1>{{ page.banner.heading }}</h1>
        </div>
        {{#if page.banner.image}}<figure class="page-banner__photo"><img src="{{ page.banner.image }}" alt="{{ page.banner.alt }}" fetchpriority="high" decoding="async" /></figure>{{/if}}
      </div>
    </section>
