<div class="proc-box__scene">
    <div class="proc-box__rot">
      <div class="carton">
        <div class="panel panel--front">
          <div class="art art--front">
            <img src="/logo.png" alt="" class="art__logo" />
            <div class="art__band"></div>
            <div class="art__name">Paracetamol</div>
            <div class="art__dose">500&nbsp;mg &middot; 20 tablets</div>
            <div class="art__lines"><i></i><i></i><i></i></div>
          </div>
        </div>
        <div class="panel panel--left"><div class="art art--side"><div class="art__band art__band--v"></div><span class="art__vtext">Paracetamol 500&nbsp;mg</span></div></div>
        <div class="panel panel--right">
          <div class="art art--side"><div class="art__band art__band--v"></div><span class="art__vtext">20 tablets</span></div>
          <div class="panel panel--back"><div class="art art--back">
            <div class="art__lines art__lines--long"><i></i><i></i><i></i><i></i><i></i><i></i></div>
            <div class="art__barcode"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
          </div></div>
        </div>
        <div class="panel panel--top"><div class="art art--flap"><span>SUPREME ART</span></div></div>
        <div class="panel panel--bottom"><div class="art art--flap"><span>BATCH &middot; EXP</span></div></div>
      </div>
      <svg class="proc-box__cut" viewBox="0 0 360 410" aria-hidden="true">
        <path class="cutline" pathLength="1" vector-effect="non-scaling-stroke" d="M85,2 H275 V60 H358 V350 H275 V408 H85 V350 H2 V60 H85 Z" />
        <path class="creaseline" vector-effect="non-scaling-stroke" d="M85,60 V350 M275,60 V350 M85,60 H275 M85,350 H275" />
      </svg>
    </div>
</div>
